@import url(index.css);



.container1{
    width: 100vw;
    height: auto;
    background-image: url(../img/bg-texture.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content-container-1{
    width: 30vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 8vw;
    color: var(--branco);

}
.container-for-bg{
    background-image: url(../img/shadow-green.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    height: auto;
    padding-left: 1vw;
}

.container-for-bg span:nth-child(1){
    font-size: 3em;
    font-weight: bold;
    display: flex;
    width: 30vw;
    height: auto;
    text-align: left;
}
.container-for-bg div{
    width: 18vw;
    height: 2px;
    background-color: var(--laranja-ababora);
}
.container-for-bg span:nth-child(3){
    font-size: 1.2em;
}
.content-container-1 button{
    margin-top: 10vh;
    width: 15vw;
    height: 10vh;
    border-radius: 15px;
    background-color: var(--laranja-ababora);
    color: var(--branco);
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.258);
    transition: .2s linear;
}
.content-container-1 button:hover{
    cursor: pointer;
}
.content-container-1 button:active{
    transform: translateY(5px);
    transition: .3s linear;
}

.container1 img{
    width: 40vw;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-right: 10vw;
}

.container2{
    width: 100vw;
    height: auto;
    background-color: var(--amarelo-requeijao);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
}

.title-container2{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-container2 span:nth-child(1){
    font-size: 2.5em;
    font-weight: bold;
}
.title-container2 span:nth-child(2){
    font-weight: bold;
}

.section-for-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
    width: 100vw;
    height: 70vh;
    margin-top: 5vh;
    margin-bottom: 8vh;
    
    background-image: url(../img/BG-listra.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards{
    width: 18vw;
    height: 40vh;
    background-color: var(--amarelo-requeijao);
    border-radius: 10px;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}
.cards:nth-child(2){
    background-color: var(--branco);
}
.cards img{
    width: 4vw;
    height: auto;
    object-fit: contain;
    object-position: center;

}
.cards p{
    font-size: 1.2em;
    text-align: center;
    width: 15vw;
    height: auto;
    margin-top: 2vh;

}

.container3{
    width: 100vw;
    height: auto;
    background-color: var(--amarelo-requeijao);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 5vh;
}

.text-cont3{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 6vw;
}

.text-cont3 span{
    font-size: 4em;
    font-weight: bold;
}

.text-cont3 p{
    width: 40vw;
    height: auto;
    font-size: 1.6em;
}

.text-cont3 button{
    border: none;
    background-color: var(--laranja-ababora);
    color: var(--branco);
    width: 20vw;
    height: 8vh;
    font-size: 1.7em;
    border-radius: 10px;

    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.251);
}

.section-div-val-doacoes{
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.section-div-val-doacoes div{
    width: 20vw;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #9597a1;
}
.section-div-val-doacoes div.num-doacoe{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    color:#595f78;
    margin-top: 10%;
    border: 10px solid #d9d9d98f;
    border-radius: 100%;
    
    margin-top: 40%;
}

@media screen and (max-width: 800px){
    header{
        position: fixed;
        z-index: 2000;
    }
    .container1{
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container1 img{
        width: 50vw;
        display: none;
    }
    .content-container-1{
        width: 90vw;
        height: auto;
        margin: 0;
    }
    .container-for-bg{
        margin-top: 3vh;
        width: 80vw;
        height: auto;
        background-image: none;
        background-size: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        backdrop-filter:blur(2px);
    }
    .container-for-bg span:nth-child(1){
        text-align: center;
        font-size: 2.7em;
        width: 80vw;
    }
    .container-for-bg div{
        width: 70vw;
    }
    .container-for-bg span:nth-child(3){
        text-align: center;
        
    }

    .container1 button{
        width: 50vw;
        margin-bottom: 5vh;
        margin-top: 2vh;
        height: 10vh;
    }

    .title-container2 span:nth-child(2){
    text-align: center;
}

    .section-for-cards{
        flex-direction: column;
        height: auto;
    }
    .cards{
        width: 80vw;
        height: 20vh;
        margin-bottom: 5vh;
        flex-direction: row;
        gap: 7vw;
        justify-content: flex-start;
    }
    .cards img{
        width: 10vw;
        margin-left: 5vw;
    }
    .cards p{
        width: 60vw;
        text-align: left;
    }

}