@import url(index.css);

.container1{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.text{
    width: 90vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
}

.text span{
    width: auto;
    height: auto;
    font-size: 3em;
}

.text p{
    font-weight: bold;
    width: 80vw;
    height: auto;
    font-size: 1.2em;
}

@media screen and (max-width: 800px) {
    .space{
        height: 0;
    }
    /* .container1{
    } */

    .text{
        margin: 0;
        width: auto;
    }
    .text span{
        margin-top: 10vh;
        width: 95vw;
        text-align: center;
    }

    .text p{
        text-align: center;
        width: 95vw;
    }
    
    .text:nth-child(1) span{
        margin-top: 1vh;
    }
     .text:nth-child(3) span{
        margin-top: 10vh;
    }
}