<footer>
    <div class="footer-line-1">
      <img src="./assets/img/logo-header.svg" alt="logo-facilsolidario">
    </div>
    <div class="footer-line-2">
      <div class="links-footer"><span>Sessões</span><a href="/">Home</a><a href="/quem-somos">Sobre nós</a><a href="">Como doar</a><a href="">Onde enviar</a></div>
      <div class="links-footer"><span>Contato</span><a href="">Tel: (11) 99672-8869</a><a href="solidariofacil@gmail.com">Email:<br>solidariofacil@gmail.com</a></div>
      <div class="links-footer"><span>Legal</span><a href="/politicas-de-privacidade">Termos de uso</a><a href="/politicas-de-privacidade">Política de privacidade</a></div>
    </div>
  </footer>

  <!-- <script src="./assets/js/script.js"></script> -->
  <script src="/assets/js/accessibility-plugin.js"></script>