<%if(successMessage.length > 0){%>
    <h1 class="successMessage message"><%=successMessage[0]%></h1>
<%}%> 

<%if(errorMessage.length > 0){%>
    <h1 class="errorMessage message"><%=errorMessage[0]%></h1>
<%}%> 