@import url(index.css);

.container1{
    width: 100vw;
    height: 90vh;
    background-color: var(--amarelo-requeijao);
    display: flex;
    align-items: center;
    justify-content: center;

}

.container1 div{
    width: 90vw;
    height: 80vh;
    background-image: url(../img/etecABH.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    color: var(--branco);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container1 div span{
    margin-left: 3vw;
    font-size: 3em;
    margin-bottom: 3vh;
    width: 30vw;
}
.container1 div p{
    margin-left: 3vw;
    font-size: 1.2em;
    width: 31vw;
    margin-bottom: 10vh;
}

.container2{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
    background-color: var(--amarelo-requeijao);
}

.section-for-text{
    width: 60vw;
    height: 80vh;
    
}
.section-for-text .text{
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.section-for-text div.text span{
    color: var(--laranja-ababora);
    display: flex;
    font-size: 2.3em;
    width: 50vw;
    height: auto;
    
}
.section-for-text div.text p{
    width: 40vw;
}

.section-for-patner{
    width: 30vw;
    height: 80vh;
    margin-bottom: 10vh;
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vh;
    overflow-y: auto;
    scroll-snap-type: mandatory y;
}

.section-for-patner img{
    width: 18vw;
    height: 20vw;
    object-fit: contain;
    object-position: center;
}
 

.container3{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--amarelo-requeijao);
    padding-bottom: 10vh;
}

.container3 span{
    font-size: 3.2em;
    color: var(--laranja-ababora);
}

div.maps-api{
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:800px) {
   
   .container1{
    height: 60vh;
   }
    .container1 div{
        align-items: center;
        text-align: center;
        height: 50vh;
    }
    .container1 div span{
        width: 90%;
    }
    .container1 div p{
        width: 90%; 
    }
    .container1 span, .container1 p{
        margin: 0;
        padding: 0;
    }
    div.space{
        height: 0;
    }

    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        left: 0;
        padding-bottom: 10vh;
    }

    .text{
        width: 90%;
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section-for-text{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }

    .section-for-text div.text span,.section-for-text div.text p{
        margin: 0;
        padding: 0;
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }
    .section-for-text div.text p{
        width: 95vw;
        margin: 0;
        padding: 0;
        margin-left: 0;
    }
    .section-for-patner{
        width: 90vw;
        height: 20vh;
        flex-direction: row;
        margin: 0;
        left: 0;
    }

    .section-for-patner img{
        width: 25vw;
    }

    .container3{
        height: 70vh;
        justify-content: center;
    }
    .container3 span{
        text-align: center;
    }
    .container3 .maps-api{
        height: 50vh;
    }
}