<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facil Solidário</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/404.css">
  <link rel="shortcut icon" href="/assets/img/LOGO-BRANCA.svg">
  <link rel="stylesheet" href="/assets/css/accessibility-plugin.css">
  <style>
    @import url(index.css);
    main{
        width: 100vw;
        height: 100vh;
        background-image: url(../img/404-bg.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: var(--amarelo-requeijao);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    img{
        margin-top: 2vw;
        width: 13vw;
        height: auto;
        object-position: center;
        object-fit: contain;
    }
    h1{
        color: var(--verde-musgo);
        font-size: 6em;
    }
    span:nth-child(4){
        font-size: 2em;
    }
    span:nth-child(5){
        color: rgba(18, 18, 18, 0.443);
    }

    button{
        width: 10vw;
        height: 8vh;
        font-size: 1.5em;
        border-radius: 10px;
        color: white;
        border: none;
        background-color: var(--laranja-ababora);
        margin-top: 2vw;
        margin-bottom: 3vw;
        transition: .2s linear;
    }
    button:hover{
        cursor: pointer;
    }

    button:active{
        transform: translateY(5px);
        transition: .3s linear;
    }

    @media screen and (max-width: 800px) {
        
        body{
            overflow: hidden;
        }
        main{
            width: 100vw;
            height: 90vh;
            overflow: hidden;
            
        }
        .space{
            height: 0;
        }
        img{
            width: 40vw;
            margin: 0;
        }

        span:nth-child(4){
            font-size: 1.8em;
            text-align: center;
        }
        span:nth-child(5){
            text-align: center;
        }

        button{
            width: 30vw;
            margin-top: 15vw;
        }
    }
    .logo-header{
      margin-top: 0;
    }
  </style>
</head>
<body>

  

  <header>
    <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
    <label for="menu-checkbox" class="menu-label">&#9776;</label>
  
    
  
    <section class="info-header">
      <div>
        <span>Telefone: 11 95249-4032</span>
        <span>Email: facil_solidario@hotmail.com</span>
      </div>
      <!-- <div class="section-button-languages">
        <button class="languages"></button>
        <button class="languages"></button>
        <button class="languages"></button>
      </div> -->
    </section>
  
    <section class="header-content">
      <img src="/assets/img/logo-header.svg" alt="logo" class="logo-header">
      <nav class="links-header">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/quem-somos">Sobre nós</a></li>
          <li><a href="#">Como doar</a></li>
          <li><a href="/sign-up">Seja doador</a></li>
          <li><a href="/sign-up"><img src="/assets/img/PERFIL.svg" alt="Suas doações"><span>Suas Doações</span></a></li>
        </ul>
      </nav>
    </section>
  </header>
  
      <main>
        <div class="space"></div>
        <img src="/assets/img/LOGO.png" alt="logo-img">
        <h1>404</h1>
        <span>Página não encontrada</span>
        <span>Não conseguimos encontrar a página requisitada!</span>
        <a href="/">
          <button>Voltar</button>
        </a>
      </main>
      
      <script src="/assets/js/accessibility-plugin.js"></script>
</body>
</html>