<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fácil Solidário</title>
    <!-- <link rel="shortcut icon" href="img/LOGO.png" type="image/x-icon" /> -->
    <link rel="stylesheet" type="text/css" href="./assets/css/index.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/admin.css" />
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <link rel="stylesheet" href="/assets/css/accessibility-plugin.css">
  </head>
  <body>

    <%-include('./includes/messages')%>

    <main>
      <a href="/">
        <button class="btn-voltar"><</button>
      </a>
      <img src="./assets/img/logo-sem-txt.svg" alt="" />
      <section class="main-content">
        <form action="" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <span>ID</span>
          <input type="text" name="login" id="login" required>

          <span>Senha</span>
          <input type="password" name="senha" id="senha" required>

          <button>Entrar</button>
        </form>
      </section>
      <p><a href="/">Voltar para a página principal</a></p>
      
    </main>

    <script src="/assets/js/accessibility-plugin.js"></script>
  </body>
</html>
