<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Solidário</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/cadastro.css">
    <style>
        body{
            background-image: url(assets/img/bg-cadastro-login.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <main>
        <section class="text-for-cadastros">
            <span>Criar conta</span>
            <p>Faça parte da nossa causa,
                seja um doador!</p>
            <p>Criando uma conta, você fica à um passo de contribuir para a felicidade de uma família!</p>
        </section>
        
        <section class="section-forms-cadastro"> 

            <a class="btn-voltar" href="/"><</a> 
            <img src="assets/img/logo-sem-txt.svg" alt="">

            <form method="POST">
                <span>Nome Completo</span>
                <input type="text" name="nome" id="nome" required>

                <span>Email</span>
                <input type="hyperlink" name="email" id="email" required>

                <span>Telefone</span>
                <input type="text" name="telefone" id="telefone" required>
                <button>Próximo</button>
                <p>Já é um doador? <a href="#">Faça login.</a></p>
            </form>   

        </section>
    </main>
</body>
</html>