<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Solidário</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <style>
        body{
            background-image: url(assets/img/bg-cadastro-login.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        form {
            align-items: flex-start;
            margin-bottom: 10vh;
        }

        form p:nth-child(2){
            /* color: red; */
            margin-bottom: 3vh;
        }

        @media screen and (max-width: 800px){
        form{
            align-items: flex-start;
            margin-bottom: 5vh;
        }

       form p:nth-child(2){
            margin-bottom: 5vh;
        }
        span{
            margin-bottom: 10px;
        }
    }
    </style>
</head>
<body>
    <main>

        <%-include('./includes/messages')%>

        <section class="text-for-cadastros">
            <span>Criar conta</span>
            <p>Faça parte da nossa causa,
                seja um doador!</p>
            <p>Criando uma conta, você fica à um passo de contribuir para a felicidade de uma família!</p>
        </section>
        
        <section class="section-forms-cadastro"> 

            <a href="/sign-up" class="btn-voltar"><</a> 
            <img src="/assets/img/logo-sem-txt.svg" alt="logotipo">
            <form action="" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">


                <h3>Olá, <%= userInfo.email %> !</h3>

                <p>Um código de verificação foi enviado para o seu E-mail. para prosseguir, digite ele abaixo.</p>

                <span>Código de confirmação</span>
                <input type="text" name="code" id="code" required>   

                <button>Próximo</button>
                <p>Já é um doador? <a href="/sign-in">Faça login.</a></p>
                <p>Não achou o código? <a href="/sign-up/code">Enviar novamente</a></p>
            </form>   
        </section>
    </main>
</body>
</html>