<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fácil Solidário</title>
    <link rel="shortcut icon" href="./assets/img/LOGO.png" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link rel="stylesheet" href="./assets/css/cadastro.css" />
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <style>
      body {
        background-image: url(img/bg-cadastro-login.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      @media screen and (max-width: 800px) {
        .cria-conta {
          font-size: 0.9em;
        }
      }
    </style>
  </head>
  <body>
    <main>

      <%-include('./includes/messages')%>

      <section class="text-for-cadastros">
        <span>Alterar Senha</span>
        <p>
          Crie sua nova senha para poder acessar sua conta.
        </p>
      </section>

      <section class="section-forms-cadastro">
        <a href="/" class="btn-voltar"><</a>
        <img src="./assets/img/logo-sem-txt.svg" alt="" />
        <form action="" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">


          <span>Email</span>
          <input type="hyperlink" name="email" id="email" required />

           <button>Próximo</button>


          <p class="cria-conta">
            Ainda não tem uma conta? <a href="/sign-up">Crie uma!</a>
          </p>
          <p class="cria-conta">
            Já é um doador? <a href="/sign-in">Faça login.</a>
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
