<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fácil Solidário</title>
    <link rel="shortcut icon" href="img/LOGO.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/donation.css" />
    <link rel="shortcut icon" href="/assets/img/LOGO-BRANCA.svg">
  </head>
  <body>
    <main>

      <%-include('./includes/messages')%>

      <a href="/">
        <button class="btn-voltar"><</button>
      </a>
      <section class="textbox-container">
        <img src="/assets/img/LOGO-BRANCA.svg" alt="facil-solidario-logo" />
        <span>Formulário de doação</span>
        <p>Faça parte da nossa causa, seja um doador! Doe com <span class="repons">responsabilidade!!</span></p>
        
        
      </section>
      <section class="donation-form">
        <span class="title">Registre sua doação</span>
        <p class="subtitle">Selecione o tipo e quantida de alimentos a serem doados</p>

        <form id="form">
          <div class="add-btn-container">
          <select name="options" id="options">
            <option value="0" disabled selected>Tipo</option>
            <option value="cereais">Cereais</option>
            <option value="graos">Grãos</option>
            <option value="enlatados">Enlatados</option>
            <option value="sal">Sal</option>
            <option value="acucar">Açúcar</option>
            <option value="cafe">Café</option>
            <option value="oleos">Óleos</option>
            <option value="massas">Massas</option>
            <option value="leiteempo">Leite em pó</option>
          </select>
          
          <input type="number" class="qtd-alimen" name="quantidade" id="quantidade">

          <button class="btn-add" type="submit">+</button>

          </div>
            <div class="form-container">   
            </div>
          </div>
        </form>
      </section>
        
      <form action="" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- Validação contra CSRF -->
        <input type="hidden" name="allValues" id="allValues"> <!-- esse INPUT HIDDEN guarda tudo oque estiver no formulario, para ser utilizado no BACKEND -->
        <button class="btn-confirma">Próximo</button>
      </form>        
    </main>

    

    <script src="./assets/js/script-donation.js"></script>
  </body>
</html>