  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facil Solidário</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
      <header>
        <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
        <label for="menu-checkbox" class="menu-label">&#9776;</label>
      
        
      
        <section class="info-header">
          <div>
            <span>Telefone: 11 95249-4032</span>
            <span>Email: facil_solidario@hotmail.com</span>
          </div>
          <div>
            <button class="languages"></button>
            <button class="languages"></button>
            <button class="languages"></button>
          </div>
        </section>
      
        <section class="header-content">
          <img src="img/logo-header.svg" alt="logo" class="logo-header">
          <nav class="links-header">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Como doar</a></li>
              <li><a href="#">Seja doador</a></li>
              <li><a href="#"><img src="img/PERFIL.svg" alt="Suas doações"><span>Suas Doações</span></a></li>
            </ul>
          </nav>
        </section>
      </header>
      
    </header>
    <script src="js/script-home.js"></script>
  </body>
  </html>