<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facil Solidário</title>
  <link rel="stylesheet" href="./assets/css/index.css">
  <link rel="stylesheet" href="./assets/css/home.css">
  <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
</head>
<body>
   
  <!-- IMPORT AQI -->

  <%-include('./includes/header')%>

    <main>
      <!-- div.space é para poder ajustar o header no lugar -->
      <div class="space"></div>
      <div class="container1">
        <div class="content-container-1">
          <div class="container-for-bg">
          <span>Juntos nós podemos fazer a diferença</span>
          <div></div>
          <span>A mudança começa por você! Faça parte da  nossa causa</span>
        </div>

        <%if(user) { %>
          <a href="/formulario-doacao">
            <button>Doe aqui!</button>
          </a>
        <%} else {%>
          <a href="/sign-up">
            <button>Seja um Doador</button>
          </a>
        <%}%>

        </div>
        <img src="./assets/img/svg-home.svg" alt="home-svg">
      </div>
      <div class="container2">
        <div class="title-container2">
          <span>Passo a Passo</span>
          <span>Descubra a forma mais fácil de enviar a sua doação!</span>
        </div>
        <section class="section-for-cards">
            <div class="cards">
              <img src="./assets/img/info-icon.svg" alt="info-icon">
              <p>1.Faça o cadastro para prosseguir.</p>
            </div>
            <div class="cards">
              <img src="./assets/img/hand-icon.svg" alt="hand-icon">
              <p>2.Preencha o formulário.</p>
            </div>
            <div class="cards">
              <img src="./assets/img/maps-icon.svg" alt="map-icon">
              <p>3.Leve ao ponto de coleta.</p>
            </div>
        </section>
      </div>

      <div class="container3">
        <section class="text-cont3">
          <span>Para onde vai a <br> minha doação?</span>
          <p>Fique informado sobre a nossa rotina de coleta e distribuição</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ac eros ac facilisis. Donec cursus.</p>
          <a href="/pontos-de-coleta">
            <button style="cursor: pointer;">Lorem Ipsum</button>
          </a>
        </section>
        <section class="section-div-val-doacoes">
          <div>
            <div class="num-doacoe" id="num-doacao">00</div>
            <p>Alimentos já foram doados</p>
          </div>
        </section>
      </div>

      <div class="container4">
        
        <section class="section-1-lore"><p>Quem somos?</p> <button>Saiba mais</button></section>
        <section class="section-2-lore">
          <div class="cards-lore">
            <span>Lorem Ipsum</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit efficitur vulputate. Proin mollis molestie nisi, eget mattis tortor malesuada sed. </p>
          </div>
          <div class="cards-lore">
            <img src="./assets/img/img-lore.jpg" alt="img-de-uma-galera-ae">
          </div>
          <div class="cards-lore">
            <span>Morbi vel</span>
            <p>metus luctus, luctus dolor sed, sollicitudin lorem. Aliquam euismod malesuada eros, at malesuada lorem pharetra a. Fusce faucibus sapien at enim lobortis tincidunt.</p>
            </div>
        </section>

      </div>

      <div class="container5">
        <section class="title-container-5">
          <span>Nos envie um email!</span>
          <p>Alguma dúvida, reclamação ou feedback? Nos envie um email!</p>
        </section>
        <section class="content-container-5">
        <form method="POST" action="/">
          <input type="text" name="nome" id="nome" class="input-forms-feedback" placeholder="Nome...">
          <input type="text" name="email" id="email" class="input-forms-feedback" placeholder="E-mail...">
          <textarea type="text" name="texto" id="texto" rows="8"  class="input-forms-feedback" placeholder="Texto..."></textarea>
          <button>Enviar</button>
        </form>
        <div class="svg-forms"><img src="./assets/img/feedback-forms-svg.svg" alt=""></div>
      </section>
      </div>
    </main>
    <section class="frase-motivacional">
      <span>"A fome não espera promessas." <br> — Herbert de Souza (Betinho)</span>
    </section>
    
    <%-include('./includes/footer')%>

  <script src="./assets/js/index.js"></script>
</body>
</html>