<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fácil Solidário</title>
    <link rel="shortcut icon" href="./assets/img/LOGO.png" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link rel="stylesheet" href="./assets/css/cadastro.css" />
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <style>
      body {
        background-image: url(img/bg-cadastro-login.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      @media screen and (max-width: 800px) {
        .cria-conta {
          font-size: 0.9em;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <section class="text-for-cadastros">
        <span>Fazer Login</span>
        <p>
          "Combater a fome é um ato de justiça, não de caridade." <br />
          — Josué de Castro
        </p>
        <p>Caso não tenha criado sua conta ainda, clique em “Crie uma!”</p>
      </section>

      <section class="section-forms-cadastro">
        <a href="/" class="btn-voltar"><</a>
        <img src="./assets/img/logo-sem-txt.svg" alt="" />
        <form action="" method="post">
          <span>Email</span>
          <input type="hyperlink" name="email" id="email" required />

          <span>Senha</span>
          <input type="password" name="senha" id="senha" required />
          <button>Entrar</button>
          <p>Esqueceu sua senha? <a href="#">Redefini-la</a></p>
          <div style="width: 1px; margin-bottom: 2vh"></div>
          <p class="cria-conta">
            Ainda não tem uma conta? <a href="/sign-up">Crie uma!</a>
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
