<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Solidário</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/pol-priv.css">
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <link rel="stylesheet" href="/assets/css/accessibility-plugin.css">
    <style>
        body{
            background-color: var(--branco);
            overflow-x: hidden;
        }
        header{
            background-color: var(--branco);
            color: var(--laranja-ababora);
            border-bottom: 3px solid var(--laranja-ababora);
        }

        section.info-header{
            display: none;
        }

        .header-content ul li a{
            
            color: var(--laranja-ababora);
        }
        @media screen and (max-width: 800px){
            .menu-label{
                /* background-color: var(--laranja-ababora); */
                color: var(--laranja-ababora);
            }
            .header-content ul li a{
                color: var(--branco);
            }
        }
    </style>
</head>

<body>

  <head>
  <link rel="stylesheet" href="./assets/css/asb.css">
</head>

<header>
    <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
    <label for="menu-checkbox" class="menu-label">&#9776;</label>
  
    
  
    <section class="info-header">
      <div>
        <span>Telefone: 11 95249-1055</span>
        <span>Email: solidariofacil@gmail.com</span>
      </div>
      <div class="section-button-languages">
        <button class="languages"></button>
        <button class="languages"></button>
        <button class="languages"></button>
      </div>
    </section>
  
    <section class="header-content">
      <a href="/">
        <img src="/assets/img/logo-header-preto.svg" alt="logo" class="logo-header">
      </a>
      <nav class="links-header">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/quem-somos">Sobre nós</a></li>
          <li><a href="/pontos-de-coleta">Como doar</a></li>

          <%if(!user){%>
            <li><a href="/sign-up">Seja doador</a></li>
            <li><a href="/sign-up"><img src="./assets/img/PERFIL.svg" alt="Suas doações"><span>Suas Doações</span></a></li>
          <%}%>
            
          <%if(user){%>
            <li><a href="/logout">Logout</a></li>
          <%}%>

        </ul>
      </nav>
    </section>
  </header>

      <div class="space"></div>
      <main>
        <div class="container1">
            <div class="text">
                <span>Termos de Uso</span>
                <p>
                  Esse site é um Trabalho de Conclusão de Curso(TCC), que inicialmente pretende apenas arrecadar alimentos na nossa instituição de ensino para a doação. No futuro, o projeto poderá ter mais locais de atuação. <br>
                  É importante entender que "Você" ou "Usuário" refere-se a qualquer pessoas que esteja acessando o nosso site.<br><br>

                  1. OBJETIVO<br>
                  O Fácil Solidário tem como objetivo facilitar a comunicação entre doadores e ONGs voltadas à arrecadação de alimentos, atuando em diversos pontos de coletas e distribuindo de forma justa entre regiões.<br><br>

                  2. USO DO SITE<br>
                  Você concorda que não vai utilizar o site de qualquer forma que possa prejudicar seu funcionamento, isto inclui, tentativa de introduzir códigos maliciosos ou abuso de qualquer defeito ou erro do site.<br><br>

                  3. CONTEÚDOS INFORMATIVOS <br>
                  Todos os conteúdos informativos ou de pesquisa são retirados de fontes entendidas como confiáveis, devidamente citadas logo após o seu uso.<br><br> 

                  4. ALTERAÇÕES NO TERMO DE USO<br>
                  Os termos de uso podem ser atualizados a qualquer momento. quando isso ocorrer, vamos notificar no site e no seu SMS caso usuário estiver cadastrado<br><br>

                  5. USO INADEQUADO OU LINKS EXTERNOS<br>
                  O Fácil Solidário não se responsabiliza por qualquer dano causado pelo uso inadequado do conteúdo e nem por links externos<br><br>

                  6. ACESSO A CONTA<br>
                  O Fácil Solidário não solicita senhas por e-mail, mensagem ou qualquer outro canal de comunicação. Caso o usuário suspeite que sua senha foi comprometida, deve alterá-la imediatamente.<br><br>

                  7. CONTATO<br>
                  Em caso de dúvidas, mande um e-mail para: "solidariofacil@gmail.com".<br><br>

                </p>
            </div>
            <div class="text">
                <span>Políticas de Privacidade</span>
                <p>

                  O Fácil Solidário respeita a sua privacidade e agimos conforme a Lei nº 13.709/2018 (LGPD), criamos essa política para você estar ciente de quais dados vamos utilizar e como eles vão ser usados. PEDIMOS QUE LEIA COM ATENÇÃO TODA A POLÍTICA DE PRIVACIDADE ABAIXO. <br><br>

                  1. DADOS COLETADOS<br>
                  O Fácil Solidário pode coletar dados pessoas como nome, e-mail, telefone durante o cadastro do usuário<br><br>

                  2. USO DOS DADOS<br>
                  O site pode utilizar esses dados para:<br>
                  -Identificar como usuário único (nome, e-mail, telefone)<br>
                  -Confirmar Cadastro, Recuperar Senha (e-mail)<br>
                  -Comunicar com o usuário por SMS (Telefone)<br><br>


                  3. COMPARTILHAMENTO<br>
                  Os dados podem ser compartilhados com prestadores de serviços essenciais ao funcionamento do site (ex: hospedagem, Google Analytics), sempre com proteção contratual.<br><br>

                  4. SENHAS E SEGURANÇA<br>
                  Quando se cria uma senha no "Fácil Solidário", você precisa criar um senha pessoal para conseguir acessar sua conta, e essa senha é criptografada antes de ser enviada para o banco de dados. O Fácil Solidário utiliza padrões de segurança adequados previstas na LGDP,  e para proteger essas informações contra acessos não autorizados, alterações ou destruição indevida. Temos a responsabilidade de proteger seus dados pessoais<br><br>

                  4. ALTERAÇÕES NA POLÍTICA DE PRIVACIDADE<br>
                  A Política de Privacidade pode ser atualizados a qualquer momento. quando isso ocorrer, vamos notificar no site e no seu SMS caso usuário estiver cadastrado<br><br>

                  5. CONTATO<br>
                  Em caso de dúvidas, mande um e-mail para: "solidariofacil@gmail.com".<br><br>

                </p>
            </div>
        </div>
      </main>

      <%-include('./includes/footer')%>
      
    <script src="assets/js/script-home.js"></script>
    
    <script src="/assets/js/accessibility-plugin.js"></script>
</body>
</html>