<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Solidário</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/pol-priv.css">
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <style>
        body{
            background-color: var(--branco);
            overflow-x: hidden;
        }
        header{
            background-color: var(--branco);
            color: var(--laranja-ababora);
            border-bottom: 3px solid var(--laranja-ababora);
        }

        section.info-header{
            display: none;
        }

        .header-content ul li a{
            
            color: var(--laranja-ababora);
        }
        @media screen and (max-width: 800px){
            .menu-label{
                /* background-color: var(--laranja-ababora); */
                color: var(--laranja-ababora);
            }
            .header-content ul li a{
                color: var(--branco);
            }
        }
    </style>
</head>

<body>

  <%-include('./includes/header')%>

      <div class="space"></div>
      <main>
        <div class="container1">
            <div class="text">
                <span>Termos de Uso</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo bibendum ex. Aliquam sit amet arcu in purus vulputate faucibus. Praesent id lacus in ante molestie ullamcorper. In accumsan dapibus lectus id mollis. Cras auctor neque mauris, non vestibulum nunc tincidunt maximus. Donec posuere risus sit amet congue dignissim. Praesent vitae tellus in erat lacinia vehicula nec nec justo. Maecenas varius ex odio, lacinia convallis felis pharetra at. Etiam pharetra maximus ultrices. Phasellus vehicula ligula condimentum nunc convallis, sit amet cursus arcu porttitor. Sed ligula felis, eleifend eu ullamcorper nec, ultrices sed sapien. Sed ornare bibendum convallis. In in mauris a dui lobortis pretium. Vestibulum vitae quam a velit facilisis pretium. Quisque fermentum et ipsum consectetur feugiat.</p>
            </div>
            <div class="text">
                <span>Políticas de Privacidade</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo bibendum ex. Aliquam sit amet arcu in purus vulputate faucibus. Praesent id lacus in ante molestie ullamcorper. In accumsan dapibus lectus id mollis. Cras auctor neque mauris, non vestibulum nunc tincidunt maximus. Donec posuere risus sit amet congue dignissim. Praesent vitae tellus in erat lacinia vehicula nec nec justo. Maecenas varius ex odio, lacinia convallis felis pharetra at. Etiam pharetra maximus ultrices. Phasellus vehicula ligula condimentum nunc convallis, sit amet cursus arcu porttitor. Sed ligula felis, eleifend eu ullamcorper nec, ultrices sed sapien. Sed ornare bibendum convallis. In in mauris a dui lobortis pretium. Vestibulum vitae quam a velit facilisis pretium. Quisque fermentum et ipsum consectetur feugiat. Ut congue at nisl sed sagittis.
                    Donec eget purus scelerisque, elementum mauris eget, iaculis nisi. Sed mi magna, commodo placerat euismod sed, condimentum a turpis. Duis eu est mattis, facilisis erat ac, consequat lorem. Integer consectetur neque libero, a hendrerit turpis accumsan sit amet. Proin egestas ut dui sit amet pretium. Cras finibus venenatis leo. Nullam auctor purus eu nisi cursus, efficitur laoreet massa iaculis. Mauris sapien orci, euismod in elementum sit amet, pretium vel odio. Proin aliquam rutrum nunc, eget interdum orci suscipit ac. Fusce quis mollis nibh. Praesent pulvinar risus eget </p>
            </div>
            <div class="text">
                <span>Políticas de Cookies (?)</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo bibendum ex. Aliquam sit amet arcu in purus vulputate faucibus. Praesent id lacus in ante molestie ullamcorper. In accumsan dapibus lectus id mollis. Cras auctor neque mauris, non vestibulum nunc tincidunt maximus. Donec posuere risus sit amet congue dignissim. Praesent vitae tellus in erat lacinia vehicula nec nec justo. Maecenas varius ex odio, lacinia convallis felis pharetra at. Etiam pharetra maximus ultrices. Phasellus vehicula ligula condimentum nunc convallis, sit amet cursus arcu porttitor. Sed ligula felis, eleifend eu ullamcorper nec, ultrices sed sapien. Sed ornare bibendum convallis. In in mauris a dui lobortis pretium. Vestibulum vitae quam a velit facilisis pretium. Quisque fermentum et ipsum consectetur feugiat.</p>
            </div>
        </div>
      </main>

      <%-include('./includes/footer')%>
      
    <script src="assets/js/script-home.js"></script>
    
</body>
</html>