<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Solidário</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/pontos.css">
    <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
    <style>
        
.map-placeholder{
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-top: 100vh; */
}

.map-placeholder::after{
    width: 100%;
    height: 90%;
    color: black;
    text-decoration: underline black;
    content: 'Mapa da ETEC ABH, Clique aqui para abrir o Maps';
    font-family: 'poppins';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-placeholder img{
    width: 20vw;
    height: 20vw;
    object-fit: contain;
    object-position: center;
}

    </style>
</head>
<body>
  
  <%-include('./includes/header')%>
      
      <div class="space"></div>
      <main>
        <div class="container1">
            <div>
                <span>Locais atuantes</span>
                <p>Prezamos pelos seus dados para nossas doações. Doe com segurança. Doe com Fácil Solidário.</p>
            </div>
        </div>

        <div class="container2">
            <section class="section-for-text">
                <div class="text">
                    <span>Pontos de coleta</span>
                    <p>Mas afinal, para onde vão as doações?Suas doações vão para os nossos pontos de coleta, os quais são as instituições parceiras do projeto e serão responsáveis por distribuir os alimentos para quem precisa. Você poderá checar qual é o ponto mais próximo com nosso mapa e encaminhar a doação para o mesmo.</p>
                </div>
                <div class="text">
                    <span>Todos nossos locais atuantes</span>
                    <p>O projeto iniciou-se na Etec Adhemar Batista Heméritas, onde atuamos até hoje. Além disso, pretendemos expandir a causa para instituições parceiras, incluindo outras Etecs.
                        Abaixo, é possível conferir todos os locais atuantes disponiveis.Etec Prof. Adhemar Batista Heméritas, Rua Abilene, 16 - Parque Santo Antônio - São Paulo/SP
                    </p>
                </div>
            </section>
            <section class="section-for-patner">
                <img src="assets/img/cps-logo.svg" alt="cps-logo">
                <img src="assets/img/etec-abh-logo.png" class="etec-logo" alt="etec-abh-logo">
                
            </section>
        </div>

    <div class="container3">
        <span>Principais pontos</span>
        <div class="maps-api">
            <div class="map-container">
                <a href="https://maps.google.com/?q=ETEC+Professor+Adhemar+Batista+Heméritas,São+Paulo,SP" target="_blank" rel="noopener">
                  <div class="map-placeholder">
                    <!-- <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQwMCIgdmlld0JveD0iMCAwIDYwMCA0MDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSI2MDAiIGhlaWdodD0iNDAwIiBmaWxsPSIjRjVGNUY1Ii8+Cjx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkb21pbmFudC1iYXNlbGluZT0ibWlkZGxlIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIiBmaWxsPSIjOTk5IiBmb250LWZhbWlseT0iQXJpYWwsIHNhbnMtc2VyaWYiIGZvbnQtc2l6ZT0iMTgiPk1hcGEgZGEgRVRFQyBBQkggKENsaXF1ZSBwYXJhIGFicmlyIG5vIEdvb2dsZSBNYXBzKTwvdGV4dD4KPC9zdmc+" 
                         alt="Mapa da ETEC ABH" > -->
                  </div>
                </a>
              </div>

              
        </div>
    </div>
      </main>
      

      <section class="frase-motivacional">
        <span>"Combater a fome é um ato de justiça, não de caridade." <br> — Josué de Castro</span>
      </section>
      
      <%-include('./includes/footer')%>
</body>
</html>