<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fácil Solidário</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/pontos.css">
</head>
<body>
    <header>
        <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
        <label for="menu-checkbox" class="menu-label">&#9776;</label>
      
        
      
        <section class="info-header">
          <div>
            <span>Telefone: 11 95249-4032</span>
            <span>Email: facil_solidario@hotmail.com</span>
          </div>
          <div class="section-button-languages">
            <button class="languages"></button>
            <button class="languages"></button>
            <button class="languages"></button>
          </div>
        </section>
      
        <section class="header-content">
          <img src="assets/img/logo-header.svg" alt="logo" class="logo-header">
          <nav class="links-header">
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Seja doador</a></li>
              <li><a href="#">Doe</a></li>
              <li><a href="#"><img src="assets/img/PERFIL.svg" alt="Suas doações"><span>Suas Doações</span></a></li>
            </ul>
          </nav>
        </section>
      </header>
      
      <div class="space"></div>
      <main>
        <div class="container1">
            <div>
                <span>Locais atuantes</span>
                <p>Prezamos pelos seus dados para nossas doações. Doe com segurança. Doe com Fácil Solidário.</p>
            </div>
        </div>

        <div class="container2">
            <section class="section-for-text">
                <div class="text">
                    <span>Pontos de coleta</span>
                    <p>Mas afinal, para onde vão as doações?Suas doações vão para os nossos pontos de coleta, os quais são as instituições parceiras do projeto e serão responsáveis por distribuir os alimentos para quem precisa. Você poderá checar qual é o ponto mais próximo com nosso mapa e encaminhar a doação para o mesmo.</p>
                </div>
                <div class="text">
                    <span>Todos nossos locais atuantes</span>
                    <p>O projeto iniciou-se na Etec Adhemar Batista Heméritas, onde atuamos até hoje. Além disso, pretendemos expandir a causa para instituições parceiras, incluindo outras Etecs.
                        Abaixo, é possível conferir todos os locais atuantes disponiveis.Etec Prof. Adhemar Batista Heméritas, Rua Abilene, 16 - Parque Santo Antônio - São Paulo/SP
                    </p>
                </div>
            </section>
            <section class="section-for-patner">
                <img src="assets/img/cps-logo.svg" alt="cps-logo">
                <img src="assets/img/etec-abh-logo.svg" alt="etec-abh-logo">
                
            </section>
        </div>

    <div class="container3">
        <span>Principais pontos</span>
        <div class="maps-api">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14626.638945403027!2d-46.541954188918766!3d-23.580661143966793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce60901c40ae61%3A0x64b518373a953aa1!2sETEC%20Professor%20Adhemar%20Batista%20Hem%C3%A9ritas!5e0!3m2!1spt-BR!2sbr!4v1748865378660!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
      </main>
      

      <section class="frase-motivacional">
        <span>"Combater a fome é um ato de justiça, não de caridade." <br> — Josué de Castro</span>
      </section>
      <footer>
        <div class="footer-line-1">
          <img src="assets/img/logo-header.svg" alt="logo-facilsolidario">
          <button onclick=""><img src="assets/img/acessibilidade-icon.svg" alt="acessibilidade-icon"></button>
        </div>
        <div class="footer-line-2">
          <div class="links-footer"><span>Sessões</span><a href="">Home</a><a href="">Sobre nós</a><a href="">Como doar</a><a href="">Onde enviar</a></div>
          <div class="links-footer"><span>Contato</span><a href="">Tel: (11) 99672-8869</a><a href="">Email:<br>emaicontato@gmail.com</a></div>
          <div class="links-footer"><span>Legal</span><a href="">Termos de uso</a><a href="">Política de privacidade</a></div>
        </div>
      </footer>
    <script src="assets/js/script-home.js"></script>
    
</body>
</html>