<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facil Solidário</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/quemsomos.css">
  <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
  <style>
    body{
      background-color: var(--amarelo-requeijao);
    }
  </style>
</head>

<body>

  <%-include('./includes/header')%>

  <main>

    <div class="space"></div>
    <div class="carrossel-container">
      
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item  active">
            <img class="d-block w-100" src="assets/img/carrossel-img-1.svg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/carrossel-img-2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/img/carrossel-img-3.svg" alt="Third slide">
          </div>
        </div>
      </div>

    </div>


    <div class="container1">
      <section class="section-for-text">
        <div class="text">
          <span>Iniciativa do Projeto Fácil Solidário</span>
          <p>Dados divulgados pelo IBGE apontam que, em 2023, cerca de 27,6% de brasileiros conviveram com algum grau de
            insegurança alimentar. Entratanto, acreditamos que a solidariedade seja o pontapé inicial para mudar a
            realidade dessas pessoas.</p>
          <br>
          <p>Partindo desse ponto de vista, o projeto tem o objetivo de construir uma ponte entre os doadores e os lares
            brasileiros de forma efetivamente prática e segura, prezando pela confidencialidade dos dados de nossos
            colaboradores.</p>
        </div>
      </section>
      <section class="section-for-image">
          <img src="assets/img/4.png" alt=" imagem de doação">
      </section>
    </div>

    <div class="container2">
      <span>Nossos principais segmentos</span>

      <div class="section-for-cards">
        <div class="cards">
          <span class="title-card">Facilitação</span>
          <p>A otimização do processo de doação é uma das prioridades da equipe Fáil Solidário, uma vez que buscamos
            rapidez e acessibilidade no processo de doação.
            Portanto, não deixe para depois! Pois, com uma simples doação você pode ajudar dezenas de pessoas!</p>
        </div>
        <div class="cards">
          <span class="title-card">Segurança</span>
          <p>A aplicação de diversas práticas de segurança, sendo principalmente embasadas na LGPD (Lei Geral de
            Proteção de Dados) assegura um melhor desempenho de nossas operações e blinda os dados de nossos doadores.
          </p>
        </div>
        <div class="cards">
          <span class="title-card">Trabalho em Equipe</span>
          <p>A fins de expandir nossos locais atuantes, um de nossos objetivos é facilitar a chegada de alimentos para
            as ONG’s e Instituições que atuam na linha de frente no combate contra a fome</p>
        </div>
      </div>


      <div class="pause">
        <p>Contamos o nosso objetivo com todo essa projeto, mas, que tal conhecer a cara dos criadores?</p>
      </div>
    </div>

    <div class="container3">
      <section class="section-title">
        <span>Conheça nossa equipe!</span>
        <p>Os rostos que estão por trás do projeto</p>
      </section>

      <section class="section-photocards">

        <div class="photocard">
          <img src="/assets/img/isabella.png" alt="Isabella Cardoso" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Isabella Cardoso</h3>
            <p class="descricaoequipe">Me chamo Isabella Cardoso dos Santos, tenho 17 anos e sou fascinada por música, games e tecnologia! Se este projeto chegar até você e se tornar útil, estarei grata!</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/marcus.jpeg" alt="Marcus Alberes" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Marcus Alberes</h3>
            <p class="descricaoequipe">Fico feliz que tenha interesse em conhecer os criadores desse projeto! Eu amo música brasileira, gosto de programar em java e espero que o nosso site consiga ajudar aqueles que mais precisam!</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/mariana.jpeg" alt="Mariana Mota" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Mariana Mota</h3>
            <p class="descricaoequipe">Olá, Meu nome é Mariana e atualmente estudo informática na Etec ABH. Paralelamente aos estudos, gosto de trabalhar com áreas criativas, como o artesanato e design.</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/pietro.jpg" alt="Pietro Sousa" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Pietro Sousa</h3>
            <p class="descricaoequipe">Apaixonado por programação, e tudo que envolve o mundo tech.
              Pretende se profissionalizar e se tornar um
              desenvolvedor de software</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/ryan.jpeg" alt="Ryan Santos" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Ryan Santos</h3>
            <p class="descricaoequipe">Desenvolvedor front que quer ser back-end, vive no vôlei e gosta de coca-cola com pizza.</p>
          </div>
        </div>


        <div class="photocard">
          <img src="/assets/img/victor.png" alt="Victor Hugo" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Victor Hugo</h3>
            <p class="descricaoequipe">Programador FullStack amante de exatas e apaixonado por tudo que envolva tecnologia! Também sou um palmeirense fanático que gosta de pedalar, tocar guitarra, treinar e ler no tempo livre.</p>
          </div>
        </div>
      </section>

      <div class="pause2">
        <p>"Combater a fome é um ato de justiça, não de caridade." — Josué de Castro</p>
      </div>


    </div>

  </main>

  <%-include('./includes/footer')%>
  
  <script src="assets/js/script-home.js"></script>
</body>

</html>