<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facil Solidário</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/quemsomos.css">
  <link rel="shortcut icon" href="./assets/img/LOGO-BRANCA.svg">
  <style>
    body{
      background-color: var(--amarelo-requeijao);
    }
  </style>
</head>

<body>

  <%-include('./includes/header')%>

  <main>

    <div class="space"></div>
    <div class="container-carrossel">
      <div class="vacuo">
        <div class="carrossel">
          <img src="assets/img/carrosel-img-1.jpg" class="carrossel-img" alt="carrossel-img-1">
          <img src="assets/img/carrossel-img-2.jpg" class="carrossel-img" alt="carrossel-img-2">
          <img src="assets/img/carrossel-img-3.jpg" class="carrossel-img" alt="carrossel-img-3">
        </div>
        <!-- Índice -->
        <div class="indice">
          <span class="dot" data-index="1"></span>
          <span class="dot" data-index="2"></span>
          <span class="dot" data-index="3"></span>
        </div>
      </div>
    </div>


    <div class="container1">
      <section class="section-for-text">
        <div class="text">
          <span>Iniciativa do Projeto Fácil Solidário</span>
          <p>Dados divulgados pelo IBGE apontam que, em 2023, cerca de 27,6% de brasileiros conviveram com algum grau de
            insegurança alimentar. Entratanto, acreditamos que a solidariedade seja o pontapé inicial para mudar a
            realidade dessas pessoas.</p>
          <br>
          <p>Partindo desse ponto de vista, o projeto tem o objetivo de construir uma ponte entre os doadores e os lares
            brasileiros de forma efetivamente prática e segura, prezando pela confidencialidade dos dados de nossos
            colaboradores.</p>
        </div>
      </section>
      <section class="section-for-image">
          <img src="assets/img/4.png" alt=" imagem de doação">
      </section>
    </div>

    <div class="container2">
      <span>Nossos principais segmentos</span>

      <div class="section-for-cards">
        <div class="cards">
          <span class="title-card">Facilitação</span>
          <p>A otimização do processo de doação é uma das prioridades da equipe Fáil Solidário, uma vez que buscamos
            rapidez e acessibilidade no processo de doação.
            Portanto, não deixe para depois! Pois, com uma simples doação você pode ajudar dezenas de pessoas!</p>
        </div>
        <div class="cards">
          <span class="title-card">Segurança</span>
          <p>A aplicação de diversas práticas de segurança, sendo principalmente embasadas na LGPD (Lei Geral de
            Proteção de Dados) assegura um melhor desempenho de nossas operações e blinda os dados de nossos doadores.
          </p>
        </div>
        <div class="cards">
          <span class="title-card">Trabalho em Equipe</span>
          <p>A fins de expandir nossos locais atuantes, um de nossos objetivos é facilitar a chegada de alimentos para
            as ONG’s e Instituições que atuam na linha de frente no combate contra a fome</p>
        </div>
      </div>


      <div class="pause">
        <p>Contamos o nosso objetivo com todo essa projeto, mas, que tal conhecer a cara dos criadores?</p>
      </div>
    </div>

    <div class="container3">
      <section class="section-title">
        <span>Conheça nossa equipe!</span>
        <p>Os rostos que estão por trás do projeto</p>
      </section>

      <section class="section-photocards">

        <div class="photocard">
          <img src="/assets/img/isabella.png" alt="Isabella Cardoso" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Isabella Cardoso</h3>
            <p class="descricaoequipe">Programadora Front End, Rockeira e viciada em gatos e tals e tals e tals e tals e
              tals e tals e tals e tals e tals e tals</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/marcus.png" alt="Marcus Alberes" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Marcus Alberes</h3>
            <p class="descricaoequipe">Escuta kamaitachi é mulherengo tem gatos lindos, além de ser um etc etc etc etc
              etc e tals tals tals tals tals</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/mariana.png" alt="Mariana Mota" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Mariana Mota</h3>
            <p class="descricaoequipe">é empresaria ficou viciada em pokemon go gosta de design e etc etc etc etc etc
              etc etc etc etc etc etc etc etc</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/pietro.png" alt="Pietro Sousa" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Pietro Sousa</h3>
            <p class="descricaoequipe">precisa trocar a foto de perfil etc etc etc etc etc etc etc etc e tals tals tals
              tals tals tals tals tals tals</p>
          </div>
        </div>

        <div class="photocard">
          <img src="/assets/img/ryan.png" alt="Ryan Santos" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Ryan Santos</h3>
            <p class="descricaoequipe">Procrastinador que joga volei, profissional no css e também precisa trocar a foto
              pq essa nao da pra ver o rosto dele e tals tals tals tals tals tals</p>
          </div>
        </div>


        <div class="photocard">
          <img src="/assets/img/victor.png" alt="Victor Hugo" class="image-equipe">
          <div class="descricao">
            <h3 class="tituloequipe">Victor Hugo</h3>
            <p class="descricaoequipe">maior critico a tudo que nao seja node, garoto inteligente prodigio da sala
              programador back end NODE NODE NODE NODE</p>
          </div>
        </div>
      </section>

      <div class="pause2">
        <p>"Combater a fome é um ato de justiça, não de caridade." — Josué de Castro</p>
      </div>


    </div>

  </main>

  <%-include('./includes/footer')%>
  
  <script src="assets/js/script-home.js"></script>
</body>

</html>